html
  head
    link(rel='stylesheet', href='/static/css/styles.css')
    script(src='/static/js/particles.min.js')
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  body
    include ./hud.pug
    h3=reason
    div#particles-js  

include ./particles.pug
      