html
  head
    link(rel='stylesheet', href='/static/css/styles.css')
    script(src='/static/js/particles.min.js')
  body(onload="particles")
    include ./hud.pug
    .domains
      each domain in cache.domains
        if domain.working
          a#domain(href='https://'+domain.url) <span style="font-size:15px;background:green;margin:0 auto;">Online</span> #{domain.url}<br>
        else
          a#domain(href='https://'+ domain.url) <span style="font-size:15px;background:red;margin:0 auto;">Offline</span> #{domain.url}<br>
  div#particles-js
include ./particles.pug
      