p#hud
      a(href='/sharex') ShareX config <br>
      a(href='https://discord.gg/mEK8e5' target='__blank') Discord server <br>
      a(href='/domains ') Domain list <br>
      a(href='/') Home <br>
      title File.wine file uploader
      
h1 file.wine
    h2 The best free file uploader
