
<!DOCTYPE html>
<html>
   <head>
	<title>file.wine</title>
	<link rel="shortcut icon" type="image/png" href="https://file.wine/assets/favicon.png"/>
	<meta content="file.wine" property="og:title">
	<meta content="file.wine" property="og:site_name">
	<meta content="Upload and share files for free. No account needed!" property="og:description">
	<meta name="theme-color" content="#7289DA">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-1358865196814452",
          enable_page_level_ads: true
     });
</script>
   </head>
   <style>
      @import 'https://file.wine/assets/style.css';
      @import 'https://fonts.googleapis.com/css?family=Montserrat';
      @import 'https://use.fontawesome.com/releases/v5.8.1/css/solid.css';
      @import 'https://use.fontawesome.com/releases/v5.8.1/css/fontawesome.css';

</style>
   <div class='site' onload="load()">

      <h id=domain-index>
        <i class="fas fa-wine-glass"></i>    file.wine <i class="fas fa-wine-glass"></i>
        <h1>Free File Uploader</h1>
      </h>
      
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
		<div class="upload-btn-wrapper">
		   <form method="POST" action="" enctype="multipart/form-data">
				<button class="btn">Upload a file</button>
				<input type="file" name="file" onchange="form.submit()">
				<input type="hidden" name="_token" value="aAHyJeZVojEVGnOBTBYgxlmCdTCKiSDYkSThPUUFwXcCIbRZDf">
		   </form>
		</div>

<p id="footer">
    <a href='/sharex.php'>ShareX</a> &#8226;
    <a href='/domains.php'>Domain List</a> &#8226;
    <a href='/faq.php'>FAQ</a> &#8226;
    <a href='//discordapp.com/invite/2TTTGkG'> Discord</a> &#8226;
	<a href='https://dankmail.org'> Dank Mail</a> &#8226;
    <a href='https://file.wine/report.php'>REPORT ABUSE</a>
</p>   </div>
</html>